[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/RomanStelchenko
[access "refs/for/refs/*"]
	read = group user/RomanStelchenko
	push = group user/RomanStelchenko
	label-Code-Review = -2..+2 group user/RomanStelchenko
	label-Verified = -1..+1 group user/RomanStelchenko
	rebase = group user/RomanStelchenko
	removeReviewer = group user/RomanStelchenko
	submit = group user/RomanStelchenko
[access "refs/heads/*"]
	read = group user/RomanStelchenko
	create = group user/RomanStelchenko
	push = +force group user/RomanStelchenko
	pushMerge = group user/RomanStelchenko
[access "refs/tags/*"]
	push = +force group user/RomanStelchenko
	pushTag = group user/RomanStelchenko
	pushSignedTag = group user/RomanStelchenko
